@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;900&family=Montserrat:ital,wght@0,500;1,400&display=swap');

nav {
    height: 96px;
    background: rgb(244,245,245);
    background: linear-gradient(90deg, rgba(244,245,245,1) 69%, rgba(222,236,242,1) 100%);
}

#navLink {
    /* font-family: 'Cinzel', serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0D0D0D;
}
