@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
    max-width: 90%;
}

/* Yet the story of Orpheus */
#title {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;

    background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#orpheus {
    font-family: 'Cinzel';
    font-style: normal;
    letter-spacing: 1.6rem;
    font-weight: 900;

    background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#orpheusText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;

    text-align: justify;
    color: #171717;
}

#goldBtn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;

    color: #FFFFFF;

    height: 50px;

    padding: 0px 15px;
    background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
    border-radius: 5px;
}

#whiteBtn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;

    background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    border-image: linear-gradient(45deg, #FFFFFF, #EFB62B, #FFFFFF) 1;

    border-right: none;
    border-bottom: none; 
}