@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    overflow-x: hidden;
}

/* DARK THEME */
.dark-theme {
    transition: ease-in 0.5s;
    background: #050607;
}

.dark-theme #typo_div {
    transition: ease-in 0.5s;
    background: url("./assets//img/LogoDarkMode.png") no-repeat;
}

.dark-theme #logo_icon {
    visibility: hidden;
}

.dark-theme #navLink {
    transition: ease-in 0.5s;
    color: #FFFFFF;
}

.dark-theme #statue_pic_div {
    background: url("./assets/img/Statue_Black.png") no-repeat;
    margin-left: 6rem;
    margin-top: 6rem;
}

.dark-theme #statue_pic {
    visibility: hidden;
}

.dark-theme #orpheusText {
    transition: ease-in 0.5s;
    color: #EFF3FB;
}

.dark-theme #whiteBtn {
    transition: ease-in 0.5s;
    border-image: linear-gradient(45deg, #050607, #EFB62B, #050607) 1;
}

.dark-theme #goldBtn {
    transition: ease-in 0.5s;
    color: #0A0D11;
}

.dark-theme #view_more {
    color: #FFFFFF;
}

.dark-theme #caption {
    transition: ease-in 0.5s;
    background: linear-gradient(90deg, rgba(9, 11, 14, 0.81) 19.79%, rgba(9, 11, 14, 0) 97.4%);
}

.dark-theme #rowThirdSection {
    background: rgb(7,9,12);
    background: linear-gradient(260deg, rgba(7,9,12,1) 50%, rgba(0,0,0,1) 100%);
}

.dark-theme #girlStatue {
    visibility: hidden;
}

.dark-theme #girlStatueBlack {
    background: #07090C;
    mix-blend-mode: screen;
    background: url("./assets/img/girlStatueBlack.png");
}

.dark-theme #row_subHeading {
    color: #CCCCCC;
}

.dark-theme #view_more {
    color: #FFFFFF;
}

.dark-theme #gold_button {
    color: #0A0D11;
}

.dark-theme #arrow_down {
    visibility: hidden;
}

.dark-theme #arrow_down_black {
    visibility: visible;
    margin-right: 4rem;
}

.dark-theme #rowThirdSectionAvatars {
    background: linear-gradient(274.7deg, #0D1626 -0.81%, #07090C 98.64%);
}

.dark-theme #row_subHeadingAvatars {
    color: #CCCCCC;
}

.dark-theme #footer_subheading {
    color: #FFFFFF;
}

.dark-theme #bg_social_media {
    background: #050607;
}

.dark-theme #captionP {
    color: #FFFFFF;
}

/* LIGHT THEME */
.light-theme #typo_div {
    transition: ease-in 0.5s;
}

.light-theme {
    transition: ease-in 0.5s;
}

.light-theme #navLink {
    transition: ease-in 0.5s;
}

.light-theme #orpheusText {
    transition: ease-in 0.5s;
}

.light-theme #whiteBtn {
    transition: ease-in 0.5s;
}

.light-theme #goldBtn {
    transition: ease-in 0.5s;
}

.light-theme #caption {
    transition: ease-in 0.5s;
}

@media (max-width: 480px) {
    #media_col {
        display: flex;
        flex-direction: column;
    }
    
    #statue_pic_div {
        display: none;
    }

    #title {
        font-size: 270%;
    }

    #orpheus {
        font-size: 250%;
        letter-spacing: 1.8rem !important;
    }

    #orpheusText {
        width: 93% !important;
    }

    #button__div {
        display: flex;
        justify-content: space-between;
        margin-right: 2rem;
    }

    #whiteBtn {
        width: 50% !important;
    }

    #goldBtn {
        width: 50% !important;
    }

    #recent_view {
        display: flex;
        flex-direction: row;
        margin-right: 3.5rem !important;
    }

    #captionP {
        width: 100% !important;
    }
    
    #contribution_view {
        display: flex;
        flex-direction: row;
    }

    #greek {
        margin-right: 2rem;
    }

    #greek_statue_div {
        margin-right: 2rem;
    }

    #view_more {
        font-size: 100% !important;
    }

    #girlStatueBlack {
        display: none !important;
    }

    #gold_button {
        width: 75% !important;
    }

    #avatarsStatues {
        display: none;
    }
 
    #footer_row {
        margin-right: 2rem;
    }

    #footer_subheading {
        font-size: 90%;
    }

    

}